@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap');

body {


    color: #212121;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42em;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    flex-direction: column;
    height: 100%;
    color: #757575
}

.header {
    display: flex;
    width: 1600px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
    font-weight: 700;
    color: #212121
}

.underline-none {
    color: #212121;
    text-decoration: none;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.colored-word {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

a:active {
    color: #2196F3
}

.first-word-navbar:hover,
.first-word-navbar:focus {
    color: #2196F3;
}

.first-word-navbar {
    color: black;
    text-decoration: none;
}

.contact-link-text:hover,
.contact-link-text:focus {
    color: #2196F3;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.contact-link-text {
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.contact-link-mail:hover,
.contact-link-mail:focus {
    color: #2196F3;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-link-mail {
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}


.second-word-navbar:hover,
.second-word-navbar:focus {
    color: #2196F3;
}

.second-word-navbar {
    color: black;
    text-decoration: none;
}

.menu-top-container {
    width: 1600px;
    height: 80px;
    flex-shrink: 0;
}


.image-description {
    color: #212121;
    font-family: Roboto "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 11200px;
    line-height: 36px;
    letter-spacing: 1.08px;
    display: flex;
    width: 322px;
    flex-direction: column;
    flex-shrink: 0;
}

.paragraph-layout {
    color: #757575;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 6400px;
    line-height: 30px;
    letter-spacing: 0.48px;
    display: flex;
    width: 322px;
    flex-direction: column;
    flex-shrink: 0;
}

.button-one {
    border-radius: 4px;
    background: #2196F3;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    color: white;
    text-align: center;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 8000px;
    line-height: 26px;
    letter-spacing: 0.48px;

}

.button-two {
    border-radius: 4px;
    background: #F5F4FA;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 8000px;
    line-height: 26px;
    letter-spacing: 0.48px;

}

.button-three {
    border-radius: 4px;
    background: #F5F4FA;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 8000px;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.button-four {
    border-radius: 4px;
    background: #F5F4FA;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 8000px;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.button-five {
    border-radius: 4px;
    background: #F5F4FA;
    width: 120px;
    height: 38px;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 8000px;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.button-bar {

    color: #FFF;
    text-align: center;
    font-family: Roboto "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: white;

}

.button-one {
    border: none;
}

.button-two {
    border: none;
}

.button-three {
    border: none;
}

.button-four {
    border: none;
}

.button-five {
    border: none;
}

.button-bar:hover,
.button-bar:focus {
    color: #2196F3;
}


.footer {
    background: #2F303A;
    width: 1600px;
    height: 251px;
    flex-shrink: 0;
}

.colored-word-studio {
    color: white;
}

.colored-word-1 {
    color: #2196F3;
    font-family: 'Raleway', "sans-serif";
}

.colored-word-2 {
    color: white;
    font-family: 'Raleway', "sans-serif";
}

.colored-word-1-2 {
    font-family: 'Raleway', "sans-serif";
    font-size: 26px;
    font-style: normal;
    font-weight: 11200px;
    line-height: normal;
    letter-spacing: 0.78px;

}

.address {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    width: 207px;
    height: 16px;
    flex-direction: column;
    flex-shrink: 0;
}

.email-phone {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 6400px;
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    width: 231px;
    flex-direction: column;
    flex-shrink: 0;
}

.footer__content {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.main-logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}