body {
    font-family: 'Roboto', sans-serif,
        'Raleway', sans-serif 'Times New Roman', Times, serif;
    color: #212121;

}

.header {
    display: flex;
    width: 1600px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

a:active {
    color: #2196F3
}

.first-word-navbar:hover,
.first-word-navbar:focus {
    color: #2196F3;
}

.first-word-navbar {
    color: black;
    text-decoration: none;
}

.contact-link-text:hover,
.contact-link-text:focus {
    color: #2196F3;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.contact-link-text {
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.contact-link-mail:hover,
.contact-link-mail:focus {
    color: #2196F3;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-link-mail {
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}


.second-word-navbar:hover,
.second-word-navbar:focus {
    color: #2196F3;
}

.second-word-navbar {
    color: black;
    text-decoration: none;
}