body {
    font-family: 'Roboto', sans-serif,
        'Raleway', sans-serif 'Times New Roman', Times, serif;
    color: #212121;

}




.header {
    display: flex;
    width: 1600px;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.first-word-navbar {
    color: #2196F3;
    text-decoration: none;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: aqua;
}

a:hover {
    color: yellowgreen;
}

a:active {
    color: darkorange
}



.second-word-navbar {
    color: black;
    text-decoration: none;
}