body {
    font-family: 'Roboto', sans-serif;
}



.main-logo {
    text-align: center;
    font-family: 'Roboto',
        sans-serif;

}

.colored-word {
    color: #2196F3;


}

.underline-none {
    background-color: aquamarine;
    text-decoration: none;
}

.nine-pictures {
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

