body{
font-family: 'Roboto', sans-serif;
}

.first-word-navbar{
           color: #2196F3;
    text-decoration: none;




}

a:hover{
    color: red;

}


.second-word-navbar{
    color: black;
    text-decoration: none;
}
